@import url(./partials/_variables.css);
@import url(./partials/_global.css);

body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 1rem 10rem;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}
.navbar-nav .active a{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-site h3{
    padding-top: 20%;
    font-weight: 600;
}
.title-site h3::after{
    content: '';
    height: 2px;
    width: 22vw;
    background-color: var(--title-color);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.title-site h1{
    font-size: 3rem;
    font-weight: 600;
}