@import url(./partials/_variables.css);
@import url(./partials/_global.css);

.navbar{
    padding: 1rem 8rem;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}
.navbar-nav .active a{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.title-site h3{
    padding-top: 15%;
    font-weight: 600;
}
.title-site h3::after{
    content: '';
    height: 2px;
    width: 22vw;
    background-color: var(--title-color);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.title-site h1{
    font-size: 3rem;
    font-weight: 600;
}
.banner-img, .title-site{
    margin-bottom: 5rem;
}
.about-content{
    padding: 8rem 7rem;
}

.brand-content{
    padding: 1rem 10rem;
    margin-bottom: 4rem;
}
.first-row .col-lg-4{
    display: flex;
    justify-content: center;
}
.col-lg-4 .singlebrand{
    border: 1px solid black;
    text-align: center;
    padding: 1.8rem 0;
    margin: .9rem 0;
    /* width: 180px;
    height: 100px; */
    cursor: pointer;
    transition: transform .4s ease;
}
.singlebrand > img{
    width: 70%;
}
.singlebrand:hover{
    box-shadow: 0 0 15px 0 rgb(56, 56, 56);
    transform: scale(1.1);
}
.experience{
    padding-left: 1rem;
    background-color: rgb(214, 214, 214);
}
